.flat-button{
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    user-select: none; /*prevents selecting the text on the button*/
}
.align-menu-button{
    padding-left: 5rem;
}
.flat-button:hover {
    background-color: gray;
}
.title{
    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-menu {
    position: relative;
    overflow: hidden;
}
#root {
    width: 100%;
    height: 100%;
}
.background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}